<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockeng.mapper.WorkIssueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blockeng.entity.WorkIssue">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="answer_user_id" property="answerUserId"/>
        <result column="answer_name" property="answerName"/>
        <result column="question" property="question"/>
        <result column="answer" property="answer"/>
        <result column="status" property="status"/>
        <result column="last_update_time" property="lastUpdateTime"/>
        <result column="created" property="created"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, answer_user_id AS answerUserId, answer_name AS answerName, question, answer, status,
        last_update_time AS lastUpdateTime, created
    </sql>

</mapper>
