<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockeng.admin.mapper.PrivatePlacementMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blockeng.admin.entity.PrivatePlacement">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="amount" property="amount"/>
        <result column="freeze_amount" property="freezeAmount"/>
        <result column="release_amount" property="releaseAmount"/>
        <result column="created" property="created" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>
    <!-- 通用查询映射结果 -->
    <resultMap id="selectListResultMap" type="com.blockeng.admin.dto.PrivatePlacementDTO">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="real_name" property="realName"/>
        <result column="mobile" property="mobile"/>
        <result column="id_card" property="idCard"/>
        <result column="amount" property="amount"/>
        <result column="freeze_amount" property="freezeAmount"/>
        <result column="release_amount" property="releaseAmount"/>
        <result column="created" property="created" />
        <result column="last_update_time" property="lastUpdateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, real_name, mobile, id_card, created, last_update_time
    </sql>
<select id="selectListPage" resultMap="selectListResultMap">
    <![CDATA[
    SELECT
    pp.id, pp.user_id,pp.amount,pp.freeze_amount,pp.release_amount, pp.created, pp.last_update_time,bb.real_name, bb.mobile, bb.id_card
    FROM private_placement as pp inner join  user as bb on pp.user_id =bb.id
    ]]>
    <where>
        ${ew.sqlSegment}
    </where>
    ORDER BY pp.created DESC
</select>
</mapper>
