<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockeng.admin.mapper.TradeAreaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blockeng.admin.entity.TradeArea">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <result column="coin_id" property="coinId"/>
        <result column="coin_name" property="coinName"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="base_coin" property="baseCoin"/>
        <result column="last_update_time" property="lastUpdateTime"/>
        <result column="created" property="created"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, type, coin_id AS coinId, coin_name AS coinName, sort, status, base_coin AS baseCoin,
        last_update_time AS lastUpdateTime, created
    </sql>

</mapper>
