<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockeng.admin.mapper.UserWalletMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blockeng.admin.entity.UserWallet">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="coin_id" property="coinId"/>
        <result column="coin_name" property="coinName"/>
        <result column="name" property="name"/>
        <result column="addr" property="addr"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="last_update_time" property="lastUpdateTime"/>
        <result column="created" property="created"/>
    </resultMap>

    <resultMap id="BaseResultDTO" type="com.blockeng.admin.dto.UserWalletDTO" extends="BaseResultMap">
        <result column="real_name" property="realName"/>
        <result column="username" property="username"/>
        <result column="coin_name_two" property="coinNameTwo"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, coin_id AS coinId, coin_name AS coinName, name, addr, sort, status, last_update_time AS
        lastUpdateTime, created
    </sql>

    <select id="selectUserWalletList" resultMap="BaseResultDTO">

        SELECT
        uw.id,
        uw.addr,
        uw.`name`,
        uw.coin_name,
        u.username,
        u.real_name,
        c.`name` as coin_name_two,
        uw.created,
        uw.last_update_time
        FROM
        user_wallet uw
        LEFT JOIN `user` u ON u.id =uw.user_id
        LEFT JOIN coin c ON c.id=uw.coin_id
        WHERE uw.user_id=#{id}

    </select>

</mapper>
