<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockeng.trade.mapper.EntrustOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blockeng.trade.entity.EntrustOrder">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="market_id" property="marketId"/>
        <result column="symbol" property="symbol"/>
        <result column="market_name" property="marketName"/>
        <result column="price" property="price"/>
        <result column="volume" property="volume"/>
        <result column="amount" property="amount"/>
        <result column="fee_rate" property="feeRate"/>
        <result column="fee" property="fee"/>
        <result column="deal" property="deal"/>
        <result column="freeze" property="freeze"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="last_update_time" property="lastUpdateTime"/>
        <result column="created" property="created"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        user_id AS userId,
        market_id AS marketId,
        market_name AS marketName,
        symbol,
        price,
        volume,
        amount,
        fee_rate AS feeRate,
        fee,
        deal,
        freeze,
        `type`,
        status,
        last_update_time AS lastUpdateTime,
        created
    </sql>

    <!-- 撤销委托订单 -->
    <update id="cancelEntrustOrder">
        UPDATE `entrust_order` SET freeze = 0, status = 2 WHERE id = #{orderId}
    </update>

    <update id="startCancel">
        UPDATE `entrust_order` SET  status = 4 WHERE id = #{orderId}
    </update>

    <select id="getCancelEntrustOrder" resultType="com.blockeng.trade.entity.EntrustOrder">
        select * from `entrust_order` where id=#{orderId}
    </select>

</mapper>
