<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockeng.mining.mapper.DividendAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blockeng.mining.entity.DividendAccount">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="reward_amount" property="rewardAmount"/>
        <result column="unlock_amount" property="unlockAmount"/>
        <result column="lock_amount" property="lockAmount"/>
        <result column="unlock_date" property="unlockDate"/>
        <result column="created" property="created"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, reward_amount AS rewardAmount,
        unlock_amount as unlockAmount, unlock_date as unlockDate,
        lock_date as lockDate,
        created,last_update_time as lastUpdateTime
    </sql>


    <select id="selectTotal" resultType="com.blockeng.mining.dto.DividendTotalAccountDTO">
        SELECT SUM(`reward_amount`) AS totalRewardAmount ,
        SUM(`unlock_amount`) AS totalUnlockAmount ,
        SUM(`lock_amount`) AS totalLockAmount FROM `dividend_account`
        WHERE `user_id` = #{user_id}
    </select>
    <insert id="insertOrUpdate">
        INSERT INTO `dividend_account` (user_id,reward_amount,lock_amount,created,unlock_date)
        VALUES(#{userId},#{dayTotalMining},#{dayTotalMining},#{date},#{unlockDate})
        ON DUPLICATE KEY UPDATE `reward_amount` = reward_amount + #{dayTotalMining},
        `lock_amount` = lock_amount + #{dayTotalMining},last_update_time=now(),unlock_date=#{unlockDate}
    </insert>
    <update id="updateByUserID" parameterType="com.blockeng.mining.entity.DividendAccount">
         UPDATE `dividend_account` SET lock_amount = lock_amount - #{unlockAmount},
         unlock_date = #{unlockDate},last_update_time= #{lastUpdateTime},
         unlock_amount=unlock_amount + #{unlockAmount} WHERE user_id = #{userId}
    </update>


</mapper>
