<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockeng.mining.mapper.DividendRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blockeng.mining.entity.DividendRecord">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="refe_user_id" property="refeUserId"/>
        <result column="scale_amount" property="scaleAmount"/>
        <result column="invite_amount" property="inviteAmount"/>
        <result column="reward_date" property="rewardDate"/>
        <result column="enable" property="enable"/>
        <result column="mark" property="mark"/>
        <result column="created" property="created"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, refe_user_id AS refeUserId,
        scale_amount as scaleAmount , invite_amount as inviteAmount,
        reward_date as rewardDate , enable,mark,created
    </sql>

    <select id="selectTotalThisWeek" resultType="java.math.BigDecimal">
        SELECT SUM(`invite_amount`) FROM `dividend_record`
        <where>
            ${ew.sqlSegment}
        </where>
    </select>


    <select id="selectAllDivide" resultType="java.math.BigDecimal">
    SELECT  IFNULL(sum(a.`invite_amount`),0)  FROM `dividend_record` a
    </select>

    <select id="selectTotalGroupByUser" resultType="com.blockeng.mining.dto.DividendDTO">
       SELECT SUM(invite_amount) AS invite_amount,user_id,id   FROM dividend_record GROUP BY user_id
    </select>


</mapper>
