<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockeng.mining.mapper.MinePoolMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blockeng.mining.entity.MinePoolMember">
        <id column="id" property="id"/>
        <id column="mine_pool_id" property="minePoolId"/>
        <id column="user_id" property="userId"/>
        <id column="created" property="created"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mine_pool_id AS minePoolId, user_id AS userId, created
    </sql>
</mapper>
